PGUSER=pgusername
PGPASSWORD=pgpassword

DB_PORT_DEVELOPMENT=5432
DB_HOST_DEVELOPMENT=localhost
DB_NAME_DEVELOPMENT=db_name_development
DB_USER_DEVELOPMENT=db_user_development
DB_PASSWORD_DEVELOPMENT=db_password_development

DB_PORT_PRODUCTION=5432
DB_HOST_PRODUCTION=db_host_production
DB_NAME_PRODUCTION=db_name_production
DB_USER_PRODUCTION=db_user_production
DB_PASSWORD_PRODUCTION=db_password_production

REDIS_PORT_DEVELOPMENT=6379
REDIS_HOST_DEVELOPMENT=localhost

REDIS_PORT_PRODUCTION=6379
REDIS_HOST_PRODUCTION=localhost

EXPRESS_SESSION_SECRET=sessionsecret

AWS_ACCESS_KEY_ID=123abc
AWS_SECRET_ACCESS_KEY=123abc
AWS_S3_BUCKET=bucket-name